body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #87ceeb; /* sky blue */
}

.game-container {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: #7cfc00; /* green ground */
    overflow: hidden;
    border: 2px solid black;
}

.player {
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: red;
    bottom: 50px;
    left: 130px; /* start in middle lane */
    border-radius: 10px;
}

.obstacle {
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: gray;
    border-radius: 5px;
}

.score {
    margin-top: 10px;
    font-size: 20px;
    color: black;
}
